*{
    margin: 0;
    padding: 0;
}

.principal{
    background-color:aquamarine;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.conteudo{
    align-self: center;
    position: relative;
}
