*{
    margin:0;
}
/*header*/
header{
    background-color: rgb(127, 212, 251);
    width: 100%;
    height: 10vh;
}

header img{
    width: 150px;
    height: 70px;
    background-color: grey;
    margin: 6px;
}

header nav{
    float: right;
}

header nav ul li{
    list-style: none;
    padding: 30px;
    margin: 3px;
    float: left;  
}

main{
    background-color: rgb(0, 255, 119);
    width: 100%;
    float: left;
}
footer{
    background-color: rgb(127, 212, 251);
    width: 100%;
    height: 10vh;
    clear: left;
}
/*seção esquerda*/
.esquerda{
    background-color: chocolate;
    width:60%;
    float: left;
}

.esquerda img{
    width: 90%;
    margin:50px;
    height: 400px;
    background-color: grey;
}

.esquerda p, .esquerda h1{
    width: 90%;
    margin:15px 50px;
    background-color: brown;
}

.direita{
    /* background-color: crimson; */
    width: 40%;
    float:right;
}

.caixa{
    width:95%;
    margin: 2.5%;
    height: 150px;
    background-color:rgb(255, 255, 255);
}

.caixa img{
    width:30%;
    height:90%;
    margin: 1%;
    background-color: burlywood;
    float: left;
}

.caixa p, .caixa h1{
    width: 65%;
    margin: 1%;
    float: left;
}